/* ----------------------------------
 * h1 — Title
 * ----------------------------------*/

h1 {
    font-family: var(--font-brand);
    font-size: var(--web---title);
    font-weight: var(--font-bold);
    line-height: var(--web---title--lh);
    color: var(--color-text);
}

/* ----------------------------------
 * h2 — Section Header
* ---------------------------------- */

section :where(h2) {
    font-family: var(--font-brand);
    font-size: var(--web---sectionHeading);
    font-weight: var(--font-semibold);
    line-height: var(--web---sectionHeading--lh);
    color: var(--color-text);
}

/* ----------------------------------
 * h2 — Section Header (Intro Variant)
 * Rule:
 * If a section contains the page-level h1,
 * any h2 inside that section is treated as a
 * framing heading (quieter visual role.
 * ---------------------------------- */

@supports selector(section:has(h1)) {
    section:has(h1) :where(h2) {
        font-family: var(--font-brand);
        font-size: var(--web---subhead);
        font-weight: var(--font-regular);
        line-height: var(--web---subhead--lh);
        color: var(--color-text);
    }
}

/* ----------------------------------
 * h3 — Subheading
* ---------------------------------- */

h3 {
    font-family: var(--font-brand);
    font-size: var(--web---subhead);
    font-weight: var(--font-regular);
    line-height: var(--web---subhead--lh);
    color: var(--color-text);
}

/* ----------------------------------
 * p — Body
* ---------------------------------- */

p {
    font-family: var(--font-plain);
    font-size: var(--web--paragraph);
    font-weight: var(--font-regular);
    line-height: var(--web---paragraph--lh);
    color: var(--color-text);
}
