---
layout: layouts/base.njk
title: "BMTx Banking-as-a-Service Platform (NextGen)"
permalink: "/portfolio/bmtx-nextgen/"
pageKey: "bmtx-nextgen"
mainClass: "layout--case-study"
---

<main class="layout {{ mainClass }}">
  {% include "layouts/compiled-page.njk" %}
</main>
