.content-cell {
    /* no positioning rules */

    ul,
    ol {
        padding-inline-start: 20px;
    }

    li + li {
        margin-top: var(--space-prose-continuation);
    }

    > * + * {
        margin-top: var(--space-content-block);
    }
    p + ul {
        margin-top: var(--space-content-continuation);
    }
}
