.content-cell {
    > * + * {
        margin-top: var(--content-rhythm--block);
    }

    p + ul {
        margin-top: var(--content-rhythm--continuation);
    }

    ul,
    ol {
        margin: 0;
        padding-inline-start: var(--content-rhythm--list-indent);
    }

    li + li {
        margin-top: var(--content-rhythm--continuation);
    }
}
