.figure {
    margin: 0;
    display: grid;
    gap: var(--space-2);
}

.figure__media {
    width: 100%;
    overflow: hidden;
}

.figure__media img,
.figure__media picture {
    width: 100%;
    height: auto;
    display: block;
}

.figure--desktop .figure__media {
    aspect-ratio: var(--ratio-figure-desktop);
    // aspect-ratio: 16 / 9; /* TODO: set to actual desktop ratio token */
}

.figure--mobile .figure__media {
    //aspect-ratio: var(--ratio-figure-mobile);
    aspect-ratio: 9 / 16; /* TODO: set to actual mobile ratio token */
}

.figure--composite .figure__media {
    aspect-ratio: auto;
}

.figure__caption {
    margin: 0;
}
