.figure {
    margin: 0;
    display: grid;
    gap: var(--spacing-xs);
}

.figure__media {
    width: 100%;
    overflow: hidden;
}

.figure__media img,
.figure__media picture {
    width: 100%;
    height: auto;
    display: block;
}

.figure--desktop .figure__media {
    /* TODO: define and set to var(--ratio-figure-desktop) */
    aspect-ratio: 16 / 9;
}

.figure--mobile .figure__media {
    /* TODO: define and set to var(--ratio-figure-mobile) */
    aspect-ratio: 9 / 16;
}

.figure--composite .figure__media {
    aspect-ratio: auto;
}

.figure__caption {
    margin: 0;
}
