/* _includes/components/header.njk */

.header {
    display: grid;
}

.header__eyebrow {
    margin: 0;
    font-family: var(--font-brand);
    font-size: var(--web---eyebrow);
    font-weight: var(--font-bold);
    line-height: var(--web---eyebrow--lh);
    color: var(--color-link-label);
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: var(--web---eyebrow--ls);
}

.header__subhead {
    margin: 0;
    font-family: var(--font-plain);
    font-size: var(--web---subhead);
    font-weight: var(--font-regular);
    line-height: var(--web---subhead--lh);
    color: var(--color-text);
}
