/* _includes/components/header.njk */

.header {
    display: grid;
}

.header__eyebrow {
    margin: 0;
    font-family: var(--font-brand);
    font-size: var(--web---eyebrow);
    font-weight: var(--font-bold);
    font-style: normal;
    text-transform: uppercase;
    line-height: var(--web---lead-subheading--lh);
    letter-spacing: var(--web---eyebrow--ls);
    color: var(--color-link-label);
}

.header__headline {
    margin: 0;
    font-family: var(--font-brand);
    font-style: normal;
    letter-spacing: 0;
    color: var(--color-primary-base);
}

/* size by semantic element */
h1.header__headline {
    font-size: var(--web---title);
    line-height: var(--web---title--lh);
}
h2.header__headline {
    font-size: var(--web---sectionHeading);
    line-height: var(--web---sectionHeading--lh);
}

.header__subhead {
    margin: 0;
    font-family: var(--font-plain);
    font-size: var(--web---subheading);
    font-weight: var(--font-regular);
    font-style: normal;
    line-height: var(--web---subheading--lh);
    letter-spacing: 0;
    color: var(--color-text);
}
