/* Link */

a.link {
    color: inherit;
    text-decoration: none;
    transition: opacity 0.2s ease;
}

a.link:hover {
    opacity: 0.85;
}

.link {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.link__label {
    display: flex;
    align-items: center;
    gap: var(--scale--50, 8px);

    font-family: var(--font-brand);
    font-weight: var(--font-bold);
    font-size: var(--scale-75);
    line-height: 1;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: var(--color-link-label);

    .link__icon {
        transform: translateY(1px);
        transition: transform 150ms ease;
    }
}

.link__text {
    grid-area: text;
    font-family: var(--font-plain);
    font-weight: var(--font-bold);
    font-size: var(--scale-100);
    line-height: var(--scale-125);
    color: currentColor;
}

.link__icon {
    grid-area: icon;
    flex: none;
    align-self: center;
    transform: translateY(1px);
    transition: transform 150ms ease;
}

a.link:hover .link__icon {
    transform: translate(2px, 1px);
}

.link--primary {
    color: var(--color-primary-base);
}

.link--secondary {
    color: var(--color-primary-plus40);
}

.link--disabled {
    opacity: 0.55;
    cursor: default;
}

.link--disabled .link__icon {
    transform: translateY(1px);
}
