.text-block {
    display: grid;
    gap: var(--space-2, 0.5rem);

    &__subhead {
        margin: 0;
        font-size: var(--web---lead-subheading);
        color: var(--color-text-primary);
    }

    &__body {
        display: grid;
        row-gap: var(--space-stack-sm);

        p {
            margin: 0;
        }
    }
}
