.text-block {
    display: grid;
    gap: var(--spacing-xs);

    &__subhead {
        margin: 0;
        font-size: var(--web---lead-subheading);
        color: var(--color-text);
    }

    &__body {
        display: grid;
        row-gap: var(--spacing-xs);

        p {
            margin: 0;
        }
    }
}
