---
layout: layouts/base.njk
title: "INFICON Impact Manager"
permalink: "/portfolio/inficon-impact-manager/"
pageKey: "inficon-impact-manager"
mainClass: "layout--case-study"
---

<main class="layout {{ mainClass }}">
  {% include "layouts/compiled-page.njk" %}
</main>
