/* section-01 / page-01 */
.content-cell[data-cell="header--bmtx-nextgen--p1--contentcell-1"] {
    grid-column: 3 / 12;
    grid-row: 5 / 8;
}

.content-cell[data-cell="content--bmtx-nextgen--p1--contentcell-2"] {
    grid-column: 5 / 8;
    grid-row: 9 / 13;
}

/* section-01 / page-02 */
.content-cell[data-cell="content--bmtx-nextgen--p2--contentcell-1"] {
    grid-column: 5 / 6;
    grid-row: 3 / 9;
}

.content-cell[data-cell="figure--bmtx-nextgen--p2--contentcell-2"] {
    grid-column: 7 / 12;
    grid-row: 3 / 13;
}

/* section-02 / page-01 */
.content-cell[data-cell="header--bmtx-nextgen--p3--contentcell-1"] {
    grid-column: 3 / 12;
    grid-row: 3 / 4;
}

.content-cell[data-cell="figure--bmtx-nextgen--p3--contentcell-3"] {
    grid-column: 7 / 11;
    grid-row: 3 / 13;
}

.content-cell[data-cell="content--bmtx-nextgen--p3--contentcell-2"] {
    grid-column: 3 / 7;
    grid-row: 5 / 11;
}

/* section-03 / page-01 */
.content-cell[data-cell="header--bmtx-nextgen--p4--contentcell-1"] {
    grid-column: 3 / 12;
    grid-row: 3 / 4;
}

.content-cell[data-cell="figure--bmtx-nextgen--p4--contentcell-3"] {
    grid-column: 7 / 13;
    grid-row: 4 / 12;
}

.content-cell[data-cell="content--bmtx-nextgen--p4--contentcell-2"] {
    grid-column: 3 / 6;
    grid-row: 4 / 12;
}
