.header--bmtx-design-foundations--p1--contentcell-1 {
    grid-column: 3 / 12;
    grid-row: 5 / 8;
}

.text--bmtx-design-foundations--p1--contentcell-2 {
    grid-column: 5 / 8;
    grid-row: 9 / 13;
}

.text--bmtx-design-foundations--p2--contentcell-1 {
    grid-column: 5 / 6;
    grid-row: 3 / 9;
}

.figure--bmtx-design-foundations--p2--contentcell-2 {
    grid-column: 7 / 12;
    grid-row: 3 / 13;
}
